$messageHeight: 64px;
$text-input-height: 80px;

.messages-list {
  margin-bottom: $text-input-height * 1.5;
}

.chat-text-input {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 0 0 rgba(50, 50, 50, 0.3);
  background-color: #FFF;
  textarea {
    min-height: $text-input-height;
  }
}

.message-wrapper {
  .avatar-wrapper {
    display: flex;
    justify-content: center;
    flex: 0 0 $messageHeight * 1.33;
  }

  .message-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .text-wrapper {
    padding: ($messageHeight - ($messageHeight/1.5)) / 2;
    min-height: $messageHeight/1.5;
    margin: 0 ($messageHeight - ($messageHeight/1.5)) / 2;
    box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.3);
    border-radius: 2px;
    font-weight: 300;
    position: relative;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
    }
  }

  &.them {

    .message-content-wrapper {
      align-items: flex-start;
    }

    .text-wrapper {
      background: $primary-color;
      float: left;
      color: #FFF;
    }

    .text-wrapper {
      margin-left: 0;

      &:before {
        border-width: 0 10px 10px 0;
        border-color: transparent $primary-color transparent transparent;
        position: absolute;
        top: 0;
        left: -9px;
      }
    }
  }

  &.me {
    flex-direction: row-reverse;

    .message-content-wrapper {
      align-items: flex-end;
    }

    .text-wrapper {
      float: right;
      color: #000;
    }

    .text-wrapper {
      background: #FFF;
      margin-right: 0;

      &:before {
        border-width: 10px 10px 0 0;
        border-color: #FFF transparent transparent transparent;
        position: absolute;
        top: 0;
        right: -9px;
      }
    }

    .message-time {
      text-align: right;
    }
  }

  &.same-sender-as-previous {
    .avatar-wrapper {
      .avatar {
        display: none;
      }
    }
  }

  &.next-will-also-be-from-this-sender {
    .message-time {
      display: none;
    }
  }

}