@include media-breakpoint-down(sm) {

  .table-stackable {

    thead {
      display: none;
    }

    tbody {

      td {
        display: block;
        border: 0;

        &:not(:first-child) {
          padding-top: 0;
        }

        &:before {
          content: attr(data-title);
          display: block;
          font-size: .8em;
          opacity: .5;
        }

        &.actions:before {
          content: none;
        }
      }
    }

    &.table-striped {
      tr {
        background-color: transparent !important;
        border-bottom: $border-width solid $border-color;
      }
    }
  }
}