.DS_Store
package.json
node_modules/
/www/
test/
/dist/
npm-debug.log*
/test/unit/coverage/

*.iws
.idea/workspace.xml
.editorconfig
.eslintignore
.npmignore
.eslintrc.js

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml